user_guide/
vendor/

application/config/database.php

application/cache/*
application/logs/*
!application/cache/index.html
!application/logs/index.html

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

.env